__pycache__
*.pyc
.coverage
coverage/
nose
/_env*
/bin/virtualenv-*
/bin/virtualenv.py
/*.egg-info
/cover
/socalpython.sqlite

# ignore docsument build subfolders except for the .gitkeep file
/docs/build/
!/docs/build/.gitkeep
