# never ignore gitkeep files used to keep empty folders
!.gitkeep

# ignore python bytecode cruft
__pycache__
*.pyc
# ignore python development package registry
/*.egg-info

# ignore virtualenv folders
/_env*
/env*

# ignore coverage file
/.coverage
/coverage/
/cover

# ignore virtualenv itself
/bin/virtualenv-*
/bin/virtualenv.py

# ignore docs and presentation build folders
/docs/_build
/presentations/_build

# ignore sqlite database
/socalpython.sqlite
