<!DOCTYPE html>
<html>
<img src = "/static/socalpython_logo.jpg">

<head>
	<title>SoCal Python</title>
</head>

<body>
<h1>SoCal Python</h1>
<h3>About Us</h3>
<p>Meet other local Southern Californians who love to program in Python!</p>

<p>All ages welcome. Socal Python enthusiasts range from UCLA/USC students to programming veterans. We all share two things in common, L.A. and Python.</p>

<p>Sponsors are welcome.</p>

<p>Recruiters are not allowed at meetups, nor do we seek any quid-pro-quo solicitation from anyone on the recruitment side of the business. (Sponsorship being the exception)</p>
</body>

</html>